.counters {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    width: 100%;
}

.button-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid black;
    padding: 5px;
}

.normal-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 100px;
}

.button-counter button {
    height: 20px;
}

.click-tracker {
    border: 1px solid black;
    padding: 5px;
}

.click-tracker .red-button {
    background-color: red;
    color: white;
}

.click-tracker .blue-button {
    background-color: blue;
    color: white;
}

.click-tracker .green-button {
    background-color: green;
    color: white;
}

.login-form {
    padding-bottom: 20px;
}

.login-form form {
    display: flex;
    gap: 10px;
}